* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 100vw;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  line-height: 1.5;
  background-color: #fff;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

button {
  background-color: transparent;
  border: none;
  text-decoration: none;
  cursor: pointer;
}
